.bg {
  background-image: url(./imgs/tile.jpg);
  max-width: 1366px;
  height: 80vh;
}

.note-bg {
  background: url(./imgs/notebg.png);
  width: 180px;
  height: 250px;
  mix-blend-mode: multiply;
}

.task {
  transition: opacity 500ms;
  will-change: opacity;
}
.task.faded-out {
  opacity: 0;
}
i {
  opacity: 0;
}
.task:hover span i {
  opacity: 1;
  cursor: pointer;
}

#delete-icon {
  position: absolute;
  top: 6%;
  left: 90%;
}
#taskFormContainer {
  background-image: url(./imgs/formbg.jpg);
  height: 100px;
}
.task-text {
  height: 155px;
  font-size: 1.2rem;
  overflow: auto;
  margin-top: 35px;
}
