html {
  box-sizing: border-box;
}
.switch-button {
  left: 80%;
  font-size: 1.25rem;
}
.card-cell {
  width: 328px;
  height: 15rem;
  overflow-x: none;
  overflow-y: auto;
}

.wrapper {
  max-width: 1024px;
}

.template {
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-image: url('https://uhdwallpapers.org/uploads/converted/20/01/14/the-mandalorian-5k-1920x1080_477555-mm-90.jpg');
}

.parallax {
  height: 50vh;
  background-attachment: fixed;
  background-image: url('https://a-static.besthdwallpaper.com/bitcoin-logo-wallpaper-1920x540-53101_70.jpg');
}

.coin-image {
  width: 50px;
  height: 50px;
}

.searchBoxWrapper {
  margin: 0 auto;
  position: relative;
  z-index: 1;
  width: 300px;
}

.searchBox {
  width: 100%;
  border: none;
  height: 40px;
  border-radius: 5px;
  font-size: 18px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}

.searchBox:focus {
  outline: none;
}

.searchButton {
  position: absolute;
  border: none;
  background: none;
  top: -5px;
  right: 0;
  height: 50px;
  padding: 0;
  width: 50px;
}

.searchButton:focus {
  outline: none;
}

.results {
  padding: 0px;
  position: absolute;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
  width: 300px;
}

.results ul {
  margin: 0;
  padding: 0;
}
.results ul li {
  list-style: none;
  border-radius: 3px;
  opacity: 0;
  display: none;
  padding: 8px 12px;
  transition: all 0.5s linear;
}

.show .results ul li {
  opacity: 1;
  display: block;
}

.results ul li:hover {
  background: #ececec;
}

/* about */
