html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: center;
    background-image: linear-gradient(45deg, purple, white);
}

a {
    color: blue;
}

.box {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px;
    border: 1px solid black;
}