.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: antiquewhite;
    border: 2px solid gray;
    width: 50%;
    position: absolute;
    left: 25%;
}
h1 {
    color: aquamarine;
}
